@import url('normalize.css');
@import url('colorful.css');

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30pt;
}

h1, h2, h3, h4, h5 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1 {
    font-size: 170%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
}

h4 {
    font-size: 95%;
}

h5 {
    font-size: 90%;
}

a {
    text-decoration: none;
    color: blue;
}

li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding-left: 0.3em;
    list-style-type: circle;
}

.hidden {
    display: none;
}

.header img {
    opacity: 0.7;
    position: absolute;
    left: 0;
}

.footer {
    opacity: 0.7;
    position: absolute;
    top: 85%;
    right: 0;
    padding-right: 5px;
}

/* Specific slide style */

div#igalia img {
    background: #ffa;
    padding: 5px;
}

div#chomsky p {
    font-size: 20pt;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  /* Impress.js specific */
  .fallback-message { display: none; }
  @page land {size: landscape;}
  .step { page-break-inside: avoid; page-break-after: always; border: none; margin-top: 100px; }
  .step img { max-height: 100%; }

  /* plus some more step specific styles of your own
  #htop2 { display: none }
   */
}
